/* **** FASHION Styles **** */

html {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

/* Container width */
.container1{
    max-width: 1920px;
    margin: 0 auto;
}
.container2{
    max-width: 1720px;
    margin: 0 auto;
}


/* Font size */
h1{
    font-size: 96px;
    font-weight: 900;
}

h2{
    font-size: 48px;
    font-weight: 900;
}

h3{
    font-size: 32px;
    font-weight: 400;
}

p{
    font-size: 24px;
}

/* Nav */
.main-nav{
    margin: 0 auto;
    padding: 1em;
}

.nav-list{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.main-nav>.nav-list>a{
    font-size: 22px;
    font-weight: 500;
}

.logo{
    flex-grow: 2;
}

.nav-list>li>a{
    text-decoration: none;
    color: black;
    padding: 1em;
    margin: 0 1em;
    font-weight: 500;
}

.nav-list>li>.current{
    background-color: black;
    color: white;
    border-radius: 1em;
}

.nav-list>li>a:hover, .nav-list>li>a:focus{
    background-color: #EBD96B;
    color: black;
    border-radius: 1em;
}

/* header images with texts */
.header-text{
    background-color: #F4F6F5;
    max-width: 1720px;
    border-radius: 59px;
    display: flex;
    padding: 3.5em;
    margin: 0 auto;
  
}

.beautiful-girl{
    width: 871px;
    height: 784px;
    /* align-self: flex-end; */
    /* position: absolute;
    top: 205px;
    left: 950px; */
   
}

.explore-h1{
    max-width: 474px;
    text-transform: uppercase;
    line-height: 120px;
    margin-left: 100px;
}



.influential{
    margin-left: 100px;
    margin-top: -50px;
}

.vector9{
    width: 190px;
    margin: auto;
}

.shop{
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 1rem;
    border-radius: 10px;
}

.yellow-black{
    display: grid;
    grid-template-columns: 220px 220px;
    margin-left: 100px;
    width: 474px;
    
}

.star1{
    position: absolute;
    top: 232px;
    left: 900px;
}

.star2{
    position: absolute;
    top: 245px;
    left: 1200px;
}

.star3{
    position: absolute;
    top: 925px;
    left: 1000px;
}

.star4{
    position: absolute;
    top: 800px;
    left: 1400px;
}



/* Brand */
.brand{
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 2em;
    
}

.brands{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EBD96B;
    padding: 2em;
}

/* Cards */
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card>a{
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color:#7F7F7F;
}

.card>h3{
    margin-bottom: -0.15rem;
}

/* Payday */
.payday{
    margin-top: 10em;
    max-width: 1920px;
    display: flex;
    background-color: #EBD96B;
}

/* .sale{
    display: flex;
    flex-direction: column;
    
} */

.yellow-girl{
    max-width: 990px;
}

.payday-heading{
    text-transform: uppercase;
    width: 600px;
    height: 285px;
    margin: 0;
}

.payday-text{
    width: 670px;
    font-size: 36px;
    font-weight: 500;
}

.valid{
    width: 500px;
    display: flex;
    flex-direction: column;
}

.date{
    font-size: 36px;
    font-weight: 700;
}

.terms{
    font-size: 36px;
    font-weight: 400;
}

.payday-shop{
    margin-top: 36px;
}

/* Young's favourite */
.young{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.favour>h3{
    margin-bottom: -0.15em;
}

.favour>a{
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color:#7F7F7F;
}

/* Dowload voucher */
.download{
    margin-top: 10em;
    margin-bottom: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.app{
    margin-top: auto;
    margin-bottom: auto;
}
.app>h2{
    width: 500px;
    text-transform: uppercase;
}

.app>p{
    width: 420px;
    margin-bottom: 2em;
}

.apple, .google{
    width: 204px;
    height: auto;
}
.store{
    max-width: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobile-app{
    display: flex;
    justify-content: center;
    align-items: center;
}



.gray-dot1{
    width: 25px;
    height: 25px;
    background-color: #7F7F7F;
    border-radius: 50%;
    position: absolute;
    top: 4500px;
    left: 1065px;
    transform: translate(-50%, -50%);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.gray-dot2{
    width: 17px;
    height: 17px;
    background-color: #7F7F7F;
    border-radius: 50%;
    position: absolute;
    top: 5000px;
    left: 1685px;
    transform: translate(-50%, -50%);
}


.yellow-dot1{
    width: 50px;
    height: 50px;
    background-color: #EBD96B;
    border-radius: 50%;
    position: absolute;
    top: 4500px;
    left: 1630px;
    transform: translate(-50%, -50%);
}

.yellow-dot2{
    width: 35px;
    height: 35px;
    background-color: #EBD96B;
    border-radius: 50%;
    position: absolute;
    top: 5000px;
    left: 1031px;
    transform: translate(-50%, -50%);
}

.border3{
    width: 440px;
    height: 435px;
    background-color: white;
    border: 1.73px solid #EFECEB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border2{
    width: 537px;
    height: 530.26px;
    background-color: white;
    border: 2.11px solid #EFECEB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border1{
    width: 637px;
    height: 629px;
    background-color: white;
    border: 2.5px solid #EFECEB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Join Community */
.join{
    background-color: #E5C643;
    width: 1920px;
    height: 623px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.join>h1{
    font-size: 55px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    width: 966px;
    height: 124px;
    margin-bottom: 0;
    margin-top: 0;
}
    
.join>h3{
    color: white;
    text-align: center;
    
}

.input-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-email{
    background-color: white;
    width: 574px;
    height: 87px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.input-email> input{
    border: none;
    font-size: 24px;
    font-weight: 400;
    width: 269px;
    height: 25px;
}

.send{
    font-size: 33px;
    font-weight: 500;
    width: 161px;
    height: 67px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

/* Footer */
.site-footer{
    background-color: black;
    color: #8E8E8E;
    width: 1920px;
    height: 545px;
}

.fashion-footer>h1{
    font-size: 40px;
    font-weight: 900;
    width: 192px;
    height: 52.4px;
    color: white;
}

.fashion-footer>h2{
    font-size: 24px;
    font-weight: 400;
    width: 415px;
    height: 80px;
}

.fashion-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.facebook, .instagram, .x, .in{
    width: 52px;
    height: 52px;
    background-color: #EBD96B;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 250px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.in{
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.footer-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1920px;
    height: 545px;
}

.left>a, .center>a, .right>a{
    text-decoration: none;
    color:#8E8E8E;
    font-size: 24px;
    font-weight: 400;
}

.left, .center, .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 273px;
}

.active-colour{
    color:#D9D9D9;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 890px;
    height: 273px;
}